
.greet-cont {
    margin-top: 1.5rem;
    color: var(--fnt-main-color);
    display: flex;
    justify-content: center;
}

.profile-cont {
    color: var(--fnt-main-color);
    width: 100%;
    background-color: var(--bg-items);
    margin-top: .5rem;
}

.profile-images-cont {
    display: flex;
    flex-direction: column;
    transition: all 200ms ease-in-out !important;
}


.profile-bg-cont {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 50% 50%;
}

.profile-bg {
    transition: all .45s ease-in-out;
    border-radius: 15px 15px 50% 50%;
    width: 100%;
    height: 350px;
    object-position: center;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50);
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
}

.profile-images-cont .change-icon-btn {
    margin-top: 15px;
    margin-bottom: -60px;
    margin-right: 20px;
    align-self: flex-end;
    opacity: 0; 
    
    z-index: 10;
    transition: all .5s ease-in-out;
}

.profile-bg-cont:hover .change-icon-btn, .profile-images-cont .change-icon-btn:hover {
    opacity: 1;
}



.profile-dp-cont {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
    margin-top: -120px;
    width: fit-content;
    height: fit-content;
}

.profile-dp-cont .change-icon-btn {
    position: absolute;
    align-self: center;
    opacity: 0;
    transform: translateX(-50%);
    left: 50%;
    bottom: 85px;
    transition: all 0.5s ease-in-out;
    
}

.profile-dp-cont:hover .change-icon-btn, .profile-dp-cont .change-icon-btn:hover {
    opacity: 1;
}

.profile-dp {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid var(--bg-items);
    width: 200px;
}

.profile-info-cont {
    display: flex;
    justify-content: space-around;
}


.profile-cont h3, .profile-cont p, .profile-info-cont p {
    text-align: center;
}

.txt-bio-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.txt-bio {
    max-width: 75%;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
}

/* MODAL */

.choose-photo-cont {
    display: flex; 
    justify-content: center;
}
label[for="choose-profile-pic-btn"] {
    padding: 12px 10px 0px 10px; 
    border-radius: 10px;
    width: fit-content;
    transition: all .5s ease-in-out;
    
}
.hover-item:hover, .save-changes-btn:hover {
    color: var(--secondary-color);
    background-color: var(--input-field-color) !important; 
    cursor: pointer;
    transform: scale(0.9);
}
.modal-content {
    color: var(--fnt-main-color);
}

.profile-modal h3 {
    color: var(--fnt-main-color);
}

.save-changes-btn {
    background: none;
    border: none;
    border-radius: 10px;
    background-color: var(--input-field-color);
}

.save-changes-btn:disabled {
    background-color: var(--input-field-color);
}

.img-area-cont {
    display: flex;
    justify-content: center;
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    min-width: 50%;
    max-width: fit-content;
}

/* CIRCLES */

.circles-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}



.circles-item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--fnt-main-style);
    font-size: var(--fnt-main-size);

    padding: 5px;
    text-align: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: 5px solid var(--bg-primary);
    overflow: hidden;
}

.circle-name-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.circle-name {
    margin-top: 10px;
    text-align: center;
    color: var(--fnt-main-color);

    font-size: var(--fnt-secondary-size);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch; /* 20 characters */
}

.circle-pic {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100px;
}


.carousel-main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* padding-bottom: 64px; */
  }
  
.carousel-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    scroll-snap-type: x mandatory;
}

.carousel-container::-webkit-scrollbar {
    height: 8px;
    width: calc(100% - 50%);
}

.carousel-container::-webkit-scrollbar-track {
    background: var(--input-field-color);
}

.carousel-container::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

.carousel-container::-webkit-scrollbar-track-piece:start {
    background: var(--accent-color);
}

.carousel-slide {
    flex: 1 0 calc((100%/3) - 8px/3 );
    aspect-ratio: 1;
    flex-flow: column nowrap;
    display: flex;
    max-height: 150px;
    justify-content: center;
    align-items: center;
    /* background-color: #bae; */
    scroll-snap-align: center;
}
  

@media screen and (max-width: 1020px) {
    .profile-bg {
        height: 200px;
    }
    .profile-dp {
        margin-top: 2rem;
        width: 150px;
    
    }
    .sliding-message {
        margin-top: -175px;
    }
    .carousel-slide {
        flex: 1 0 calc(100%);
    }
    .carousel-container{
    width: 60%;
    }
}

@media screen and (max-width: 300px) {
    .profile-dp {
        margin-top: 4rem;
        width: 100px;
    
    }
    
}

