{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="item msg-cont">
	<!-- <a href="{% url 'get_friends_asJson' %}">ediwow</a> -->
	{% if request.resolver_match.url_name == 'circle_messages' or request.resolver_match.url_name == 'friend_messages'%}
	<div class="util-cont-100">
		
		<ul class="msg-nav">
				<li class="msg-nav-items">
					<a href="{% url 'circle_messages' %}">
						<button class="{% if request.resolver_match.url_name == 'circle_messages' %} msg-nav-item-active {% endif %}">Circles</button>
					</a>
					
				</li>
				<li class="msg-nav-items ">
					<a href="{% url 'friend_messages' %}">
						<button class="{% if request.resolver_match.url_name == 'friend_messages' %} msg-nav-item-active {% endif %}">Friends</button>
					</a>
				</li>
			</ul>
		</div>
		<hr>
		<div class="inbox">

			{% for chatroom, latest_message in chatrooms.items %}
			{% if request.resolver_match.url_name == 'circle_messages' %}  
			<a href="{% url 'view_convo' chatroom.id %}" class="inbox-wrapper"><div class="inbox-item">
				<div class="inbox-user-img">
					<img src="{{chatroom.circle.img.url}}" alt="Circle Image">
				</div>
				<div class="msg-info">
					{% if not chatroom.name %}
					<h5>{{chatroom.circle.name}} </h5>
					{% else %}
					<h5>{{chatroom.name}} </h5>
					{% endif %}
					<p><strong>{{ latest_message.sender }}:</strong> {{ latest_message.content }}</p>
					<p>{{ latest_message.timestamp }}</p>
				</div>
			</div></a>
			{% elif request.resolver_match.url_name == 'friend_messages' %} 
				{% if chatroom.circle.type == 'friends' %}
				<a href="{% url 'view_convo' chatroom.id %}" class="inbox-wrapper"><div class="inbox-item">
					<div class="inbox-user-img">
							{% for member in chatroom.circle.members.all %}
							{% if member.username != request.user.username %}
							<img src="{{member.profile.profile_picture.img.url}}" alt="Circle Image">
							{% endif %}
							{% endfor %}
						</div>
						<div class="msg-info">
							{% for member in chatroom.circle.members.all %}
							{% if member.username != request.user.username %}
							<h5>{{member.username}}</h5>
							{% endif %}
							{% endfor %}
							<p><strong>{{ latest_message.sender }}:</strong> {{ latest_message.content }}</p>
							<p>{{ latest_message.timestamp }}</p>
						</div>
					</div>
				</a>
				{% endif %}
			{% endif %}
			{% endfor %}
		</div>

		{% elif request.resolver_match.url_name == 'view_convo' %}

		

		<div class="convo-header">
			<a href="{% if room.circle.type == 'standard' %} {% url 'circle_messages' %} {% else %} {% url 'friend_messages' %} {% endif %}"><button>
				<img class="back-icon" src="{% static 'icons/back-icon.png' %}" alt="BACK">
			</button></a>
				{% if not room.name %}
				<h2>{{room.circle.name}} </h2>
				{% else %}
				<h2>{{room.name}} </h2>
				{% endif %}
			<a href="{% url 'circle_messages' %}"><button>
				<img class="chat-settings-icon" src="{% static 'icons/chat-settings.png' %}" alt="SETTINGS">
			</button></a>
		</div>
		<hr>
		<div class="convo-body" id="chat-messages">
			<!-- <div class="message-item {% if request.user.username == 'husph1' %}message-sent {% endif %}"><img src="../../media/blank_img.png" alt="" class="sender-pic"><div class="message-body"><p class="sender-info">@husph1</p><p class="message-content">hindi naman sa pag-aano pero edi wow sayo diba!</p></div></div> -->
		</div>
		{% if room.id%}
		<form id="message-form">
		<div class="message-input-cont">
				{% csrf_token %}
				<input type="hidden" name="room_id" id="room_id" value="{{ room.id }}">
				<div class="msg-input-txt">
					<textarea name="message" id="message-input" rows="1" placeholder="Enter your message here.." oninput="checkMsgInput()"></textarea>
				</div>
				<button  type="submit" id="send-message-btn" class="" disabled>
					<img class="send-icon-img" src="{% static 'icons/send-btn-icon.png' %}" alt="">
				</button>
			</div>
		</form>
		{% endif %}
		<hr> 

		

		{% endif %}
 		</div>
	<br><br>
	{% if request.resolver_match.url_name == 'circle_messages' %}
	<button class="btn-add-msg" type="button"  data-bs-toggle="modal" data-bs-target="#create_circle_modal">
		<h2 style="margin: 0;">+ Create New Circle</h2>
	</button>
	<!-- Modal (Create Circle) -->
	<div class="modal fade" id="create_circle_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content item ">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Create a New Circle</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body flex-cont-col">
					<div class="search-sect-cont"> 
						<form method="post" action="{% url 'create_circle' %}" id="create-circle-frm-stn">
							{% csrf_token %}
							
							<!-- Text input for circle name -->
							<h5>Name Your Circle:</h5>
							<input type="text" class="input-item input-txt-stn" name="{{ circle_form.name.name }}" id="input-circle-name" placeholder="My Favorite People" oninput="testhaks()"/>
							<br>
							
							<h5>Choose Members:</h5>
							<div class="choose-friend-cont">
							<input type="text" class="stn-input-100 search-by-attr" placeholder="Search username">
							{% for member in circle_form.members.field.queryset %}
							<label class="profile-option-item">
								<div style="display: flex; align-items: center;">
									<img class="profile-pic-icon" style="align-self: center;" src="{{ member.profile_picture.img.url }}" alt="profile_Pic">
									<p style="margin: 0; margin-left: 10px;" test-name="{{ member.user.username }}">{{ member.user.username }}</p>
								</div>
								<input type="checkbox" name="{{circle_form.members.name}}" value="{{ member.id }}" />
							</label>
							{% endfor %}
							</div>
							<br><br>
							<button type="submit" id="create-circle-btn">Create Circle</button>
							<div id="create-circle-stn-error"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% elif request.resolver_match.url_name == 'friend_messages' %}
	<button class="btn-add-msg" type="button"  data-bs-toggle="modal" data-bs-target="#new_circle_msg_modal">
		<h2 style="margin: 0;">+ Add New Message</h2>
	</button>
	<!-- Modal (Add new message) -->
	<div class="modal fade" id="new_circle_msg_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content item ">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Add New Message</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body flex-cont-col">
					<div class="search-sect-cont"> 
						<form method="post" action="{% url 'create_circle' %}" id="create-circle-frm-frn">
							{% csrf_token %}
							
							<h5>Choose a Friend:</h5>
							<div class="choose-friend-cont">
							<input type="text" class="stn-input-100 search-by-attr" placeholder="Search username">
							{% for member in circle_form.members.field.queryset %}
							<label class="profile-option-item">
								<div style="display: flex; align-items: center;">
									<img class="profile-pic-icon" style="align-self: center;" src="{{ member.profile_picture.img.url }}" alt="profile_Pic">
									<p style="margin: 0; margin-left: 10px;" test-name="{{ member.user.username }}">{{ member.user.username }}</p>
								</div>
								<input type="checkbox" name="{{circle_form.members.name}}" value="{{ member.id }}" />
							</label> 
							{% endfor %}
							</div>
							<br><br>
							<input type="hidden" name="{{circle_form.type.name}}" value="friends" />
							<button type="submit" id="new-circle-msg-btn">Add new message</button>
							<div id="create-circle-frn-error"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% elif request.resolver_match.url_name == 'view_convo' %}

	<!-- Modal (Choose Circle Pic) -->
	<div class="modal fade" id="change_circle_pic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content item ">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Changing your Profile Picture</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<!-- CHANGING-PHOTO GUI -->
					<!-- <form id="frm-change-background-pic">
						{% csrf_token %}
						<div class="choose-photo-cont">
							<label for="choose-background-pic-btn" class="hover-item">
								<p>Select a Background Picture</p>
							</label>
						</div>
					</form> -->
					<!-- <div id="bg-alert-box"></div> -->
					<label for="choose-circle-pic-btn" class="hover-item">Choose Circle</label>
					<input type="file" id="choose-circle-pic-btn" class="display-hidden">
					<div class="img-area-cont">
						<div class="image-area mb-3" id="chosen-circle-img-box"></div>
					</div>
					<button data-bs-dismiss="modal" class="btn btn-primary mt-3" id="circle-pic-save-changes-btn" disabled>Crop Image</button>
				</div>
			</div>
		</div>
	</div>

	{% endif %}

	
	
	<script>
	var current_user = '{{request.user.username}}';
	var createCircleFrmName = '{{circle_form.members.name}}';
	var currentUrl = '{{request.resolver_match.url_name}}'
	var getFriendsAsJsonUrl = "{% url 'get_friends_asJson' %}"
</script>

{% endblock %}



{% block navbar_right %} 
		{% if request.resolver_match.url_name == 'view_convo' %}


		<div class="circle-settings-cont">
			<h3>CIRCLE SETTINGS: {{room.id}}</h3>
			
			<div class="settings-circle-info">
				<form action="{% url 'save_circle_settings' %}" enctype="multipart/form-data" method="post" id="circle-settings-frm">
					{% csrf_token %}
					<img id="current-circle-pic" src="../../media/blank_img.png" alt="">
					<button class="stn-btn" id="choose-new-circle-pic" data-bs-target="#change_circle_pic" type="button"  data-bs-toggle="modal">Change Photo</button>

					<input type="hidden" value="{{ room.id }}" name="room_id" id="circle-room-id">
					<label for="setting-circle-name">Circle name:</label>
					<input style="text-align: center;" type="text" class="stn-input-100" value="Everybody Agrees" id="setting-circle-name" name="circle_name">
					
					<button type="button" class="stn-btn" id="save-circle-settings">Save Changes</button>
				</form>
			</div>

			<div class="settings-circle-options">
				<button class="circle-option" href="" data-bs-target="#create_circle_modal">
					<p>Add Member</p>
				</button>
				<button class="circle-option" href="">
					<p>Leave Circle</p>
				</button>
				
				<button class="circle-option" href="">
					<p>Delete Circle</p>
				</button>
			</div>
		</div>

		{%endif%}
{% endblock %}
