{% extends 'base.html' %}

{% block content %}

	<div class="item msg-cont">
		<div class="util-cont-100">
			<ul class="msg-nav">
				<li class="msg-nav-items">
					<button class="msg-nav-item-active">Circles</button>
				</li>
				<li class="msg-nav-items ">
					<button >Friends</button>
				</li>
			</ul>
		</div>
		<hr>
		<div class="inbox">
			<div class="inbox-item">
				
			</div>
		</div>

	</div>


<br><br><br><br><br><br><br><br><br><br>
	<!-- Script tags and other JavaScript code goes here -->



{% endblock %}
		<!-- <div class="center-cont">
			<div class="input-box">
				<textarea name="message" id="message-input" rows="2" oninput="autoResize()"></textarea>
				<button>Send</button>
			</div>
			
			{% if room.id %}
				<form id="message-form">
					{% csrf_token %}
					<div class="input-group">
						<input type="hidden" name="room_id" id="room_id" value="{{ room.id }}">
						<textarea name="message" id="message-input" class="form-control" rows="3" placeholder="Type your message"></textarea>
						<div class="input-group-append">
							<button type="submit" id="send-message-btn" class="btn btn-primary">Send</button>
						</div>
					</div>
				</form>
			{% endif %} 
		</div> -->
