<div class="nav-bar">
    <div class="nav-item-cont">
        <a href="" class="nav-item">
            <div class="img-src {% if request.resolver_match.url_name == 'home' %}active-nav{% endif %}"
            ></div>
        </a>
        <a href="" class="nav-item">
            <div class="img-src {% if request.resolver_match.url_name == 'messages' %}active-nav{% endif %}"
            ></div>
        </a>
        <a href="" class="nav-item">
            <div class="img-src {% if request.resolver_match.url_name == 'profile' %}active-nav{% endif %}"
            ></div>
        </a>
        <a href="" class="nav-item">
            <div class="img-src {% if request.resolver_match.url_name == 'friends' %}active-nav{% endif %}"
            ></div>
        </a>
    </div>
</div>