{% extends 'base.html' %}


{% block content %}

{% include 'navbar.html' %} <br>

{% if profile %}

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
    	<h1> {{ profile.user.username }}'s Profile</h1> <br>
    </div>
    <div class="col">


		
    </div>
  </div>
</div>

	

	<strong>Friends:</strong>
	{% for friend in profile.friend.all %}

	{% if friend.user.username != profile.user.username %}

			{% if friend.user.username == request.user.username %}
			<div class="container">
			
					<a href="{% url 'profile' friend.user.profile.id %}" class="link-primary undecorated"> <p> You</p></a>
				
			</div>

	

			{% else %}
			<div class="container">
				<div class="row align-items-start">
				<div class="col">
					<a href="{% url 'profile' friend.user.profile.id %}" class="link-primary undecorated"><p> @{{friend.user.username}}</p></a>
				</div>

				<div class="col">	
					<a href=""><button class="btn btn-primary">UNFRIEND</button></a>	
				</div>
				</div>
				
			</div>
			{% endif %}
			
	{% endif %}
	
	{% endfor %}


{% endif %}



{% endblock %}