{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if profile %}


<div class="greet-cont">
    {% if profile.user.username == request.user.username %}
        <h1>Your Profile</h1>
    {% else %}
        <h1>@{{profile.user.username}}</h1>
    {% endif %}
</div>
<div class="profile-cont item">
    <div class="profile-images-cont">
        <div class="profile-bg-cont">
            {% if profile.user.username == request.user.username %}
                <button class="change-icon-btn" type="button"  data-bs-toggle="modal" data-bs-target="#change_background_pic">
                    <img class="change-icon-img" src="{% static 'icons/change-icon.png' %}" alt="">
                </button>
            {% else %}
            {% endif %}
            
            <img class="profile-bg" src="{{ profile.background_picture.img.url }}" alt="">
        </div>
        
		<div class="profile-dp-cont">
            <img class="profile-dp" src="{{ profile.profile_picture.img.url }}" alt="">
            {% if profile.user.username == request.user.username %}
            <button class="change-icon-btn" type="button"  data-bs-toggle="modal" data-bs-target="#change_profile_pic">
                <img class="change-icon-img" src="{% static 'icons/change-icon.png' %}" alt="">
            </button>
            {% endif %}
        </div>
	</div>
    <div>
        <h3>@{{profile.user.username}}</h3>
        <div class="txt-bio-cont"><p class="txt-bio">Lorem ipsum dolor sit amet adipisicing elit. Quis, odio.</p></div>
        <!-- <hr> -->
    </div>
    <br>
	<div class="profile-info-cont">
		<div>
            <h4>Friends</h4>
            <p>{{ profile.friend.count }}</p>
        </div>
        <div>
            <h4>Circles</h4>
            <p>{{ circles.count }}</p>
        </div>
        <div>
            <h4>Posts</h4>
            <p>{{ posts.count }}</p>
        </div>
	</div>
    <br><br>
</div> 

<!-- Modal (Profile Pic) -->
<div class="modal fade" id="change_profile_pic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content item ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Changing your Profile Picture</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <!-- CHANGING-PHOTO GUI -->
                <form id="frm-change-profile-pic">
                    {% csrf_token %}
                    <div class="choose-photo-cont">
                        <label for="choose-profile-pic-btn" class="hover-item">
                            <p>Select a Profile Picture</p>
                            <input type="file" name="{{ profile_pic_form.name }}" id="choose-profile-pic-btn" class="display-hidden">
                        </label>
                    </div>
                </form>
            </div>
            <div id="pf-alert-box"></div>
            <div class="img-area-cont">
                <div class="image-area mb-3 chosen-pic-box" id="chosen-profile-img-box"></div>
            </div>
            <button class="btn btn-primary mt-3" id="pf-save-changes-btn" disabled>Save Changes</button>
        </div>
    </div>
</div>

<!-- Modal (Background Pic) -->
<div class="modal fade" id="change_background_pic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content item ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Changing your Profile Picture</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <!-- CHANGING-PHOTO GUI -->
                <form id="frm-change-background-pic">
                    {% csrf_token %}
                    <div class="choose-photo-cont">
                        <label for="choose-background-pic-btn" class="hover-item">
                            <p>Select a Background Picture</p>
                            <input type="file" name="{{ background_pic_form.name }}" id="choose-background-pic-btn" class="display-hidden">
                        </label>
                    </div>
                </form>
                <div id="bg-alert-box"></div>
                <div class="img-area-cont">
                    <div class="image-area mb-3" id="chosen-background-img-box"></div>
                </div>
                <button class="btn btn-primary mt-3" id="bg-save-changes-btn" disabled>Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- CIRCLES -->


{% if profile.user.username == request.user.username %}
<h4 class="center-cont">Circles</h4>
{% endif %}


<hr>
{% if profile.user.username == request.user.username %}
<div class="carousel-main">
    <div class="carousel-container">
        
        {% for circle in circles %}
        {% if circle.type == 'standard' %}
        <div class="carousel-slide">
            <a href="{% url 'view_convo' circle.chat_room.id %}">
            <div class="circles-item">
                <img class="circle-pic" src="{{ circle.img.url }}" alt="">
            </div>
            <div class="circle-name-cont">
                <p class="circle-name">{{ circle.name }}</p>
            </div>
         </a>
         </div>
         {% endif %}
        {% endfor %}
         
        </div>
    </div>
{% elif profile in friends %}
    <div class="center-cont">
        <a class="btn btn-primary" href="{% url 'unfriend' profile.id %}"><p>unfriend</p></a> 
    </div>
       
{% else %}
    <div class="center-cont">
        <form action="{% url 'send_friend_request' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ profile.id }}" name="receiver_user_id">
            <button type="submit" class="btn btn-primary">Add Friend</button>
        </form>
    </div>
{% endif %}
<hr>


{% if profile.user.username == request.user.username %}
<div class="main-sect sect-cont">
    <div class="sub-sect">
        <!-- CREATEPOST -->
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
                  <div class="custom-textarea-cont">
                      <textarea name="{{ create_post_form.body.name }}" class="custom-textarea" id="captionInput" placeholder="What's on your mind.." oninput="checkInputs()"></textarea>
                  </div>
                    <hr>
                  <div class="sub-item-cont">
                      <div class="sub-item">
                          <div class="audience-icon"></div>
                          <label for="">
                              <p>
                                  Audience
                              </p>
                          </label>
                      </div>
                      <div class="sub-item">
                        
                          <label for="upload_image" class="upload-image-icon">
                              <div class="">
                              </div>
                          </label>
                          <label for="upload_image" class="file-label">
                              <p>
                                Add Photo
                            </p>
                                <input type="file" name="{{ create_post_form.img.name }}" id="upload_image" accept=".jpg,.jpeg,.png" onchange="previewImage(event)">
                             </label>
                      </div>
                  </div>
  
                  <div class="image-preview">
                      <img id="imagePreview" src="#" alt="Selected Image" style="display: none;">
                  </div>
                  <div class="btn-cont">
                      <button type="submit" id="create_post_btn" class="btn btn-primary" disabled>Create Post!</button>
                  </div>
              
              
            </form> 
            <!-- CREATEPOST END -->
    </div>


            <!-- POST -->
            {% for post in posts reversed %}
            <div class="card item sub-sect">
                
                <div class="card-body">
                    <h5>@{{post.user}}</h5> 
                    {% if post.img %}
                    <img src="{{post.img.url}}" class="card-img-top" alt="...">
                    {% endif %}
                    
                    {% if post.body%}
                    <p>
                        {{post.body|linebreaksbr}}
                    </p>
                    {% endif %}
                    <small>
                        {{post.created_at}}
                    </small>
                    <div class="reactions-cont">
                        <div class="reaction-icon">
                            <div class="img-src"></div>
                        </div>
                        <div class="reaction-icon">
                            <div class="img-src"></div>
                        </div>
                        <div class="reaction-icon">
                            <div class="img-src"></div>
                        </div>
                    </div>

                    <hr>

                    
                </div>
            </div>
            {% endfor %}
            <!-- POSTEND -->
</div>
{% endif %}
<br><br><br><br><br><br><br><br><br><br>


{% endif %}

{% endblock %}

