{% extends 'base.html' %}
{% load static %}

{% block content %}


{% if profile %}
<div class="greet-cont">
    {% if profile.user.username == request.user.username %}
        <h1>Your Profile</h1>
    {% else %}
        <h1>@{{profile.user.username}}</h1>
    {% endif %}
</div>
<div class="profile-cont item">
    <div class="profile-images-cont">
        <div class="profile-bg-cont">
            {% if profile.user.username == request.user.username %}
                <button class="change-icon-btn" type="button"  data-bs-toggle="modal" data-bs-target="#change_background_pic">
                    <img class="change-icon-img" src="{% static 'icons/change-icon.png' %}" alt="">
                </button>
            {% else %}
            {% endif %}
            
            <img class="profile-bg" src="{{ profile.profile_picture.img.url }}" alt="">
        </div>
        
		<div class="profile-dp-cont">
            <img class="profile-dp" src="{{ profile.profile_picture.img.url }}" alt="">
            {% if profile.user.username == request.user.username %}
            <button class="change-icon-btn" type="button"  data-bs-toggle="modal" data-bs-target="#change_profile_pic">
                <img class="change-icon-img" src="{% static 'icons/change-icon.png' %}" alt="">
            </button>
            {% endif %}
        </div>
	</div>
    <div>
        <h3>@{{profile.user.username}}</h3>
        <div class="txt-bio-cont"><p class="txt-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, odio.</p></div>
    </div>
	<div class="profile-info-cont">
		<div>
            <h4>Friends</h4>
            <p>{{ profile.friend.count }}</p>
        </div>
		<div>
            <h4>Circles</h4>
            <p>{{ circles.count }}</p>
        </div>
	</div>
</div> 







  
  <!-- Modal (Profile Pic) -->
  <div class="modal fade" id="change_profile_pic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content item ">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Changing your Profile Picture</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">

            <!-- CHANGING-PHOTO GUI -->
            <form id="frm-change-profile-pic">
                {% csrf_token %}
                <div class="choose-photo-cont">
                    <label for="choose-profile-pic-btn" class="hover-item">
                        <p>Select a Profile Picture</p>
                        <input type="file" name="{{ profile_pic_form.name }}" id="choose-profile-pic-btn" class="display-hidden">
                    </label>
                </div>
            </form>
            </div>
            <div class="alert-box"></div>

            <div class="img-area-cont">
                <div class="image-area mb-3 chosen-pic-box"></div>
            </div>
            <button class="btn btn-primary mt-3 save-changes-btn" disabled>Save Changes</button>
    </div>
  </div>

<br><br><br><br><br><br><br><br><br><br>





















<style>
#upload {
    opacity: 0;
}

.img-area-cont {
    display: flex;
    justify-content: center;
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    min-width: 50%;
    max-width: fit-content;
    /* overflow: hidden; */
}

</style>  


{% endif %}


{% endblock %}